{% extends 'seller_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>
   </head>
   <!-- body -->
   <body>
      <!-- products -->
      <div  class="products">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Product</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="our_products">
                     <div class="row">
                     {% if msg %}
                        <center><font size="5">
                        <b style="color:black;">{{msg}}</b>
                        </font></center>
                     {% endif %}
                        <div class="col-md-6 margin_bottom1">
                           <div class="product_box">
                              <figure><img src="{{product.product_image.url}}" alt="#" /></figure>
                           </div>
                        </div>
                        <div class="col-md-6 margin_bottom1">
                           <div class="product_box">
                              <h3>{{product.product_category}}</h3>
                              <h3>{{product.product_name}}</h3>
                              <h3>{{product.product_price}}</h3>
                              <h3>{{product.product_desc}}</h3>
                              <h3>{{product.discount}}</h3>
                           </div>
                        </div>   
                        
                        <div class="col-md-6" style="margin-left: 50px;">
                           <a class="read_more" href="{% url 'seller_delete' pk=product.pk pc=product.product_category %}">delete</a>
                        </div>
                        <div class="col-md-6" style="margin-left: -100px;">
                           <a class="read_more" href="{% url 'seller_edit_product' pk=product.pk %}">Update</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end products -->
   </body>
</html>

{% endblock %}